body {
    background: #333;
    /*Removing scrollers*/
    overflow: hidden;
    /*A high perspective to give the UL an isometric look*/
    perspective: 3000;
    margin: 0;
    padding: 0;
  }
  body .grid {
    position: absolute;
    top: 100px;
    left: 150px;
    /*Width = (225 + 20 + 20) * 4 = 1060*/
    width: 1060px;
    /*3D Transform*/
    transform: rotateX(60deg) rotateZ(-50deg);
    /*Preserve 3D style for children*/
    transform-style: preserve-3d;
  }
  body .grid li {
    height: 380px;
    width: 225px;
    float: left;
    margin: 20px;
    list-style-type: none;
    /*Preserve 3D style for children(pseudo elements)*/
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
  }
  body .grid li.one {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1461720486092-b6ee3f33d726?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDR8fGdpcmxzfGVufDB8fDB8fHww") center no-repeat #fff;
    background-size: contain;
  }
  body .grid li.two {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("https://plus.unsplash.com/premium_photo-1688676796006-bbd1599bbfb6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2lybHN8ZW58MHx8MHx8fDA%3D") center no-repeat #fff;
    background-size: contain;
  }
  body .grid li.three {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("https://plus.unsplash.com/premium_photo-1673792686302-7555a74de717?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGdpcmxzfGVufDB8fDB8fHww") center no-repeat #fff;
    background-size: contain;
  }
  body .grid li.four {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1516982595895-5a78ae962b15?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fGdpcmxzfGVufDB8fDB8fHww") center no-repeat #f7f7ef;
    background-size: contain;
  }
  body .grid li:hover {
    transform: translateZ(20px);
    cursor: pointer;
  }
  body .grid li:hover:before {
    width: 25px;
  }
  body .grid li:hover:after {
    height: 25px;
  }
  body .grid li:before, body .grid li:after {
    content: "";
    position: absolute;
    /*100% height and width*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cecece;
  }
  body .grid li:before {
    transform-origin: left center;
    transform: rotateY(90deg);
    /*Reducing the width of the left side for a flat feel*/
    width: 5px;
    transition: width 0.3s ease;
  }
  body .grid li:after {
    transform-origin: bottom center;
    transform: rotateX(90deg);
    /*Reducing the height*/
    height: 5px;
    top: auto;
    bottom: 0;
    /*Background fix - start the background from the bottom*/
    background-position: bottom center;
    transition: height 0.3s ease;
  }
  body .grid li .shadow {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
    transform: translateZ(-50px);
  }
  body .copyright {
    position: fixed;
    margin: 0;
    display: block;
    bottom: 0;
    text-align: center;
    background-color: #000;
    /* height: 30px; */
    width: 100%;
  }
  body .copyright h2 {
    color: #cecece;
  }
  body .copyright h2 a {
    color: #cecece;
    text-decoration: none;
  }